// @import url(google-fonts.css);
@import url('https://fonts.googleapis.com/css?family=PT+Sans');
$white: #f5f5f5;
//$darker-grey: #3f3f3f;
$dark-grey: #5a5a5a;
$light-grey: #888888;
$black: #171717;
$grey: #e0e0e0;
$red: #e31c23;
//$red: #00bf79;
//$red: #000000;
//$red: #454545;
$top-menu-background: #dddddd;
//FontSizes
//    PC
$pc-header1: 1.7vw;
$pc-header2: 1.5vw;
$pc-text1: 1.3vw;
$pc-text2: 1vw;
$pc-text3: 0.9vw;
$pc-text4: 0.8vw;
//   Mobile
$mb-header1: 4.5vw;
$mb-header2: 4.2vw;
$mb-text1: 3.5vw;
$mb-text2: 3vw;
$mb-text3: 2.5vw;
$mb-text4: 2.2vw;
// Map
$area-unavailable: #4b4b4b;
$area-no-offers: #bfbfbf;
$area-offers-available: #919191;
$pt-sans: 'PT Sans',
'sans-serif';