@import '../../../shared/styles/constants';
@import '../../../shared/styles/mixins';

#about-container {
  @include greyContainer(50%);
  #headers-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;

    .header {
      width: 30%;
      background-color: $dark-grey;
      color: $white;
      text-align: center;
      font-size: 1.2em;
      font-weight: normal;
      padding: 5px 0;
      &:hover {
        cursor: pointer;
      }
    }
    .selected {
      background-color: $main-red;
    }
  }

  .content-container {
    background-color: $white;
    padding: 20px;
    color: $dark-grey;
    .title {
      font-weight: normal;
      font-size: 1.2em;
      margin-bottom: 30px;
    }
    .content {
      text-align: justify;
      font-size: 1em;
    }

    #regions-container {
      display: flex;
      flex-direction: column;

      .region-title {
        font-size: 1.3em;
        color: $dark-grey;
        &:hover {
          cursor: pointer;
          text-decoration: underline;
        }
      }
    }
  }
}
